useDynLib(stan4bart, .registration = TRUE, .fixes = "C_")

export(mstan4bart)
S3method(extract, mstan4bartFit)
S3method(fitted, mstan4bartFit)
S3method(predict, mstan4bartFit)

importFrom(dbarts, extract)
importFrom(Matrix, t, sparseMatrix, drop0, diag, rankMatrix, fac2sparse, KhatriRao, bdiag)
importFrom(parallel, makeCluster, clusterExport, clusterEvalQ, clusterMap, stopCluster)

importFrom(stats, rnorm, dnorm, pnorm, dlogis, qexp, runif, qbeta, rbinom)
importFrom(stats, binomial, gaussian)
importFrom(stats, formula, as.formula, terms.formula, reformulate, terms)

importFrom(stats, contrasts, "contrasts<-")
importFrom(stats, model.frame, model.frame.default, model.matrix,
           model.offset, model.response, model.weights,
           delete.response)
importFrom(stats, fitted, uniroot, sigma, sd, na.pass)

importFrom("methods", "as", "is", "new")